USE [master]
GO
/****** Object:  Database [damas_chinas]    Script Date: 30/10/2025 01:55:07 p. m. ******/
CREATE DATABASE [damas_chinas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'damas_chinas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\damas_chinas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'damas_chinas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\damas_chinas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [damas_chinas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [damas_chinas]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[rol] [nvarchar](20) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partidas]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partidas](
	[id_partida] [int] IDENTITY(1,1) NOT NULL,
	[fecha_partida] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[participantes_partida]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[participantes_partida](
	[id_partida] [int] NOT NULL,
	[id_jugador] [int] NOT NULL,
	[posicion_final] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_partida] ASC,
	[id_jugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[historial_partidas]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Vista historial_partidas
-- =============================================
CREATE   VIEW [dbo].[historial_partidas] AS
SELECT 
    pp.id_jugador,
    pp.id_partida,
    pa.fecha_partida,
    STRING_AGG(u2.correo, ', ') WITHIN GROUP (ORDER BY pp2.posicion_final ASC) AS jugadores,
    pp.posicion_final AS mi_posicion
FROM participantes_partida pp
JOIN partidas pa ON pp.id_partida = pa.id_partida
JOIN participantes_partida pp2 ON pp2.id_partida = pp.id_partida
JOIN usuarios u2 ON pp2.id_jugador = u2.id_usuario
GROUP BY pp.id_jugador, pp.id_partida, pp.posicion_final, pa.fecha_partida;
GO
/****** Object:  Table [dbo].[amistades]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amistades](
	[id_usuario1] [int] NOT NULL,
	[id_usuario2] [int] NOT NULL,
	[fecha_amistad] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario1] ASC,
	[id_usuario2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bloqueos]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bloqueos](
	[id_bloqueador] [int] NOT NULL,
	[id_bloqueado] [int] NOT NULL,
	[fecha_bloqueo] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bloqueador] ASC,
	[id_bloqueado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mensajes]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mensajes](
	[id_mensaje] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_remitente] [int] NOT NULL,
	[id_usuario_destino] [int] NOT NULL,
	[texto] [nvarchar](max) NOT NULL,
	[fecha_envio] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_partida] [int] NOT NULL,
	[id_jugador] [int] NOT NULL,
	[orden] [int] NOT NULL,
	[movimiento] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfiles]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfiles](
	[id_perfil] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[url] [varchar](255) NULL,
	[imagen_perfil] [nvarchar](255) NULL,
	[ultimo_login] [datetime2](7) NULL,
	[apellido_materno] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes_amistad]    Script Date: 30/10/2025 01:55:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes_amistad](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_emisor] [int] NOT NULL,
	[id_receptor] [int] NOT NULL,
	[fecha_envio] [datetime2](7) NULL,
	[estado] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_solicitud] UNIQUE NONCLUSTERED 
(
	[id_emisor] ASC,
	[id_receptor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[amistades] ADD  DEFAULT (sysdatetime()) FOR [fecha_amistad]
GO
ALTER TABLE [dbo].[bloqueos] ADD  DEFAULT (sysdatetime()) FOR [fecha_bloqueo]
GO
ALTER TABLE [dbo].[mensajes] ADD  DEFAULT (sysdatetime()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[partidas] ADD  DEFAULT (sysutcdatetime()) FOR [fecha_partida]
GO
ALTER TABLE [dbo].[solicitudes_amistad] ADD  DEFAULT (sysdatetime()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[solicitudes_amistad] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('cliente') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (sysutcdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[amistades]  WITH CHECK ADD  CONSTRAINT [fk_amistad_usuario1] FOREIGN KEY([id_usuario1])
REFERENCES [dbo].[usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[amistades] CHECK CONSTRAINT [fk_amistad_usuario1]
GO
ALTER TABLE [dbo].[amistades]  WITH CHECK ADD  CONSTRAINT [fk_amistad_usuario2] FOREIGN KEY([id_usuario2])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[amistades] CHECK CONSTRAINT [fk_amistad_usuario2]
GO
ALTER TABLE [dbo].[bloqueos]  WITH CHECK ADD  CONSTRAINT [fk_bloqueado] FOREIGN KEY([id_bloqueado])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[bloqueos] CHECK CONSTRAINT [fk_bloqueado]
GO
ALTER TABLE [dbo].[bloqueos]  WITH CHECK ADD  CONSTRAINT [fk_bloqueador] FOREIGN KEY([id_bloqueador])
REFERENCES [dbo].[usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bloqueos] CHECK CONSTRAINT [fk_bloqueador]
GO
ALTER TABLE [dbo].[mensajes]  WITH CHECK ADD  CONSTRAINT [fk_mensaje_destino] FOREIGN KEY([id_usuario_destino])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[mensajes] CHECK CONSTRAINT [fk_mensaje_destino]
GO
ALTER TABLE [dbo].[mensajes]  WITH CHECK ADD  CONSTRAINT [fk_mensaje_remitente] FOREIGN KEY([id_usuario_remitente])
REFERENCES [dbo].[usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[mensajes] CHECK CONSTRAINT [fk_mensaje_remitente]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [fk_movimiento_pp] FOREIGN KEY([id_partida], [id_jugador])
REFERENCES [dbo].[participantes_partida] ([id_partida], [id_jugador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [fk_movimiento_pp]
GO
ALTER TABLE [dbo].[participantes_partida]  WITH CHECK ADD  CONSTRAINT [fk_pp_partida] FOREIGN KEY([id_partida])
REFERENCES [dbo].[partidas] ([id_partida])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[participantes_partida] CHECK CONSTRAINT [fk_pp_partida]
GO
ALTER TABLE [dbo].[participantes_partida]  WITH CHECK ADD  CONSTRAINT [fk_pp_usuario] FOREIGN KEY([id_jugador])
REFERENCES [dbo].[usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[participantes_partida] CHECK CONSTRAINT [fk_pp_usuario]
GO
ALTER TABLE [dbo].[perfiles]  WITH CHECK ADD  CONSTRAINT [fk_perfil_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[perfiles] CHECK CONSTRAINT [fk_perfil_usuario]
GO
ALTER TABLE [dbo].[solicitudes_amistad]  WITH CHECK ADD  CONSTRAINT [fk_solicitud_emisor] FOREIGN KEY([id_emisor])
REFERENCES [dbo].[usuarios] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[solicitudes_amistad] CHECK CONSTRAINT [fk_solicitud_emisor]
GO
ALTER TABLE [dbo].[solicitudes_amistad]  WITH CHECK ADD  CONSTRAINT [fk_solicitud_receptor] FOREIGN KEY([id_receptor])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[solicitudes_amistad] CHECK CONSTRAINT [fk_solicitud_receptor]
GO
ALTER TABLE [dbo].[solicitudes_amistad]  WITH CHECK ADD  CONSTRAINT [chk_estado] CHECK  (([estado]='rechazada' OR [estado]='aceptada' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[solicitudes_amistad] CHECK CONSTRAINT [chk_estado]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [chk_rol] CHECK  (([rol]='invitado' OR [rol]='cliente' OR [rol]='admin'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [chk_rol]
GO
USE [master]
GO
