<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DamasChinas_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DamasChinas_Client.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-Us</value>
            </setting>
        </DamasChinas_Client.Properties.Settings>
    </userSettings>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
	   <binding name="NetTcpBinding_ILobbyService"
			openTimeout="00:00:30"
			closeTimeout="00:00:30"
			sendTimeout="00:02:00"
			receiveTimeout="00:02:00">
		   <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISingInService">
     <security mode="None">
      <transport clientCredentialType="Windows" sslProtocols="None" />
      <message clientCredentialType="Windows" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IAccountManager">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IFriendService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILoginService">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>

		<client>
   <endpoint address="net.tcp://localhost:8755/ChatService/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatService" contract="MensajeriaService.IChatService"
    name="NetTcpBinding_IChatService" />
   <endpoint address="net.tcp://localhost:8734/SignInService/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ISingInService" contract="SingInServiceProxy.ISingInService"
    name="NetTcpBinding_ISingInService" />
   <endpoint address="net.tcp://localhost:8733/LoginService/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILoginService" contract="LogInServiceProxy.ILoginService"
    name="NetTcpBinding_ILoginService" />
   <endpoint address="net.tcp://localhost:8740/FriendService/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IFriendService" contract="FriendServiceProxy.IFriendService"
    name="NetTcpBinding_IFriendService" />
   <endpoint address="net.tcp://localhost:8790/AccountManager/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountManager"
    contract="AccountManagerServiceProxy.IAccountManager" name="NetTcpBinding_IAccountManager" />
   <endpoint address="net.tcp://localhost:8751/LobbyService/" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILobbyService" contract="LobbyServiceProxy.ILobbyService"
    name="NetTcpBinding_ILobbyService" />
  </client>
	</system.serviceModel>
</configuration>


