<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DamasChinas_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DamasChinas_Client.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-Us</value>
            </setting>
        </DamasChinas_Client.Properties.Settings>
    </userSettings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IILoginService" />
    <binding name="BasicHttpBinding_IAccountManager" />
    <binding name="BasicHttpBinding_ISingInService" />
    <binding name="BasicHttpBinding_IAmistadService" />
   </basicHttpBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_IMensajeriaService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>

		<client>
   <endpoint address="http://localhost:8739/LoginService/" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IILoginService" contract="LogInServiceProxy.IILoginService"
    name="BasicHttpBinding_IILoginService" />
   <endpoint address="http://localhost:8735/AccountManager/" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IAccountManager" contract="AccountManagerServiceProxy.IAccountManager"
    name="BasicHttpBinding_IAccountManager" />
   <endpoint address="http://localhost:8734/SingInService/" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_ISingInService" contract="SingInServiceProxy.ISingInService"
    name="BasicHttpBinding_ISingInService" />
   <endpoint address="http://localhost:8740/AmistadService/" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IAmistadService" contract="AmistadService.IAmistadService"
    name="BasicHttpBinding_IAmistadService" />
   <endpoint address="net.tcp://localhost:8750/MensajeriaService/"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMensajeriaService"
    contract="MensajeriaService.IMensajeriaService" name="NetTcpBinding_IMensajeriaService">
    <identity>
     <userPrincipalName value="ACERS\cuent" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>