<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpDefault"
                 maxReceivedMessageSize="2147483647"
                 receiveTimeout="00:30:00"
                 openTimeout="00:00:30"
                 closeTimeout="00:00:30"
                 sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <!-- Ejemplo para LoginService (repite/ajusta para cada servicio) -->
      <endpoint name="NetTcp_Login"
                address="net.tcp://localhost:8733/LoginService/"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpDefault"
                contract="MyClientProxies.IILoginService" />
    </client>
  </system.serviceModel>
</configuration>        