<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
		         type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
		         requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" />
	</system.web>

	<!-- ======================= Configuración WCF ======================= -->
	<system.serviceModel>
		<services>

			<!-- Servicio de Login -->
			<service name="Damas_Chinas_Server.LoginService"
			         behaviorConfiguration="LoginServiceBehavior">
				<endpoint address=""
				          binding="basicHttpBinding"
				          contract="Damas_Chinas_Server.IILoginService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex"
				          binding="mexHttpBinding"
				          contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/LoginService/" />
					</baseAddresses>
				</host>
			</service>

			<!-- Servicio de Registro (SignIn) con callbacks -->
			<service name="Damas_Chinas_Server.SingInService"
			         behaviorConfiguration="SingInServiceBehavior">
				<endpoint address=""
				          binding="netTcpBinding"
				          contract="Damas_Chinas_Server.ISingInService" />
				<endpoint address="mex"
				          binding="mexTcpBinding"
				          contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8091/SingInService/" />
					</baseAddresses>
				</host>
			</service>

		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="LoginServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>

				<behavior name="SingInServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<netTcpBinding>
				<binding name="tcpBindingConfig"
				         maxConnections="100"
				         sendTimeout="00:01:00"
				         receiveTimeout="00:10:00" />
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
			          type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<connectionStrings>
		<add name="damas_chinasEntities"
		     connectionString="metadata=res://*/Damas_Chinas.csdl|res://*/Damas_Chinas.ssdl|res://*/Damas_Chinas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=damas_chinas;persist security info=True;user id=Seth_Mr;password=Khazix77a;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		     providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
